/* Acxelsus Jaybro Styles */
body{/*font-size: 14px;*/ font-size: 1.4rem; font-family: 'Roboto', sans-serif!important;}
.social-icons-container span {
    font-size: 40px;
    padding: 10px;
    color: #fff;
}
/* Header section */
header.page-header {
    background: #0d2c6d;
    border-bottom: none;
    padding: 11px 30px 0px;
    position: relative;
    color: #fff;
    margin: 0px;
}
.navigation .level0 > .level-top {
    color: #fff;
}
form.minisearch {
    position: absolute; 
    left: -650px;
    width: 450px;
}
form.minisearch .nested {
    display: none;
}
.authorization-link {
    position: absolute;
    right: 90px;
    top: 30px;
    list-style-type:none;
    cursor: pointer;
}
.authorization-link a, .minicart-wrapper .action.showcart:before {
    color: #fff;
}
.header-top {
    padding-right: 60px;
}
.minicart-wrapper a.showcart:hover {
    color: #fff;
}
.minicart-wrapper .action.showcart:before {
    position: absolute;
    top: -30px;
}
.minicart-wrapper .action.showcart .text {
    position: relative;
    color: #fff;
}
.authorization-link span#user-icon {
    font-size: 30px;
    position:absolute;
    top:-30px;
    left: 10px;
    cursor: pointer;
}
span.btn-search {
    position: absolute;
    bottom: 0!important;
    right: 0;
    width: 145px;
    height: 32px;
    display: block;
    background: #1ba6df!important;
    text-align: center;
    line-height: 35px;
    color: #fff;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    text-transform: capitalize;
    left: 450px;
    top: 0px;
    cursor: pointer;
}
.block-search .action.search {
    display: none;
}
/* End header section */
/* Footer section */
.page-footer, .footer-bottom-container, .nav-sections-items, nav.navigation {
    background-color: #0d2c6d;
}
.footer.content {
    border-top: unset;
    color: #fff;
}
.footer-links h3 {
    font-weight: bold;
}
.footer-links a {
    color: #fff;
    font-size: 12px;
}
.footer-links ul li {
    padding: 0px 0px 5px;
}
li.jaybro-email, li.jaybro-phone {
    color: #ffde00!important;
}
.footer-bottom-container {
    border-top: 1px solid #ffde00;
}
.footer-bottom {
    color: #fff;
    margin: 20px 0px 20px 0px;padding: 0px 120px 0px 120px;
    font-size: 12px;
}
.footer-bottom a.disclaimer, .footer-bottom a.privacy {
    color: #0066a1;
}
.copyright-container {
    padding-top: 20px;
}
span.follow-us {
    font-size: 12px!important;
    position:relative;
    top: -10px;
}
/* End footer section */