/* Acxelsus Jaybro Styles */
body{/*font-size: 14px;*/ font-size: 1.4rem; font-family: 'Roboto', sans-serif!important;overflow-x: hidden;}
.social-icons-container span {
    font-size: 40px;
    padding: 10px;
    color: #fff;
}
/* Header section */
header.page-header {
    background: #0d2c6d;
    border-bottom: none;
    padding: 11px 30px 0px;
    position: relative;
    color: #fff;
    margin: 0px;
}
.navigation .level0 > .level-top {
    color: #fff;
}
form.minisearch {
    position: absolute; 
    left: -650px;
    width: 450px;
}
form.minisearch .nested {
    display: none;
}
.authorization-link {
    position: absolute;
    right: 90px;
    top: 40px;
    list-style-type:none;
    cursor: pointer;
}
.authorization-link a, .minicart-wrapper .action.showcart:before {
    color: #fff;
}
.header-top {
    padding-right: 60px;
}
.minicart-wrapper a.showcart:hover {
    color: #fff;
}
.minicart-wrapper .action.showcart:before {
    position: absolute;
    top: -20px;
}
.minicart-wrapper .showcart:hover {
    color: #fff!important;
}
.minicart-wrapper .action.showcart .text {
    position: relative;
    color: #fff;
    top: 10px;
}
.authorization-link span#user-icon {
    font-size: 30px;
    position:absolute;
    top:-30px;
    left: 10px;
    cursor: pointer;
}
span.btn-search {
    position: absolute;
    bottom: 0!important;
    right: 0;
    width: 145px;
    height: 32px;
    display: block;
    background: #1ba6df!important;
    text-align: center;
    line-height: 35px;
    color: #fff;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    text-transform: capitalize;
    left: 450px;
    top: 0px;
    cursor: pointer;
}
.block-search .action.search {
    display: none;
}
.nav-sections {
    margin-bottom: 0px;
}
.home-slider-box {
    background: #e6e5ea;
    padding: 10px 0px;
    margin-bottom: 0px;
}
.home-slider-box .w_header {
    font-size: 10px;
    text-transform: capitalize;
    font-weight: 600;
    padding: 3px 0px;
    margin: 8px 0px;
    color: #002565;
    display: inline-block;
    border-bottom: 2px solid #002565;

}
/* End header section */
/* Modals */
.modal-header {
    color: #0d2c6d;
}
.modal .modal-header, .modal .modal-footer {
    padding: 40px!important;
}
.modal .modal-body {
    padding: 0px 40px 40px 40px;
}
.modal .modal-footer {
    background-color: #d9dada;
}
.modal .modal-content {
    background-color: #ebecec;
}
.modal-footer-description {
    color: #1ba6df;
    text-align: left;
}
.create-account-description {
    list-style-type: none;
    color: #1ba6df;
    padding: 0px 40px 0px 40px;
}
.btn-register {
    height: 50px;
    min-width: 225px;
    border: 0;
    border-radius: 0;
    background: #1ba6df;
    box-shadow: none;
    font-weight: bold;
    color: #fff;
}
.btn-register:hover, .btn-signin:hover {
    background-color: #fedd32;
    color: #0d2c6d;
}
.btn-signin {
    height: 50px;
    min-width: 225px;
    border: 0;
    border-radius: 0;
    background: #0d2c6d;
    color: #fff;
    font-weight: bold;
}
.forgot-password {
    font-size: 15px;
    color: #0d2c6d;
    padding: 0;
    margin: 0;
    line-height: 50px;
    cursor: pointer;
}
button.close {
    position: relative;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 26px;
    border: 1px solid #fff;
    top: -50px;
    right: -55px;
    background: #fedd32;
    color: #0d2c6d;
    border-radius: 20px;
    font-size: 24px;
    outline: none;
    cursor: pointer;
    opacity: 1;
}
button.close:hover {
    opacity: 1;
}
.modal input {
    height: 44px;
    border: 1px solid #0d2c6d;
    outline: none;
    box-shadow: inherit!important;
    background: #ebecec;
}
.actions-toolbar {
    margin-top: 30px;
}
#login-modal {
    background: rgba(3,42,102,.8)!important;
}
.actions-toolbar button {
    height: 50px;
    min-width: inherit;
    border: 0;
    border-radius: 0;
    background: #0d2c6d;
    width: 100%;
    margin-right: 0;
    color: #fff;
    font-weight: 600;
}
.btn-forgot-password:hover, .btn-sms-support-team:hover {
    background: #fedd32!important;
}
.btn-forgot-password {
    width: 60%!important;
}
.forgot-password-divider {
    position: relative;
    top: 10px;
    line-height: 20px;
    left: 0;
    padding: 0 15px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    font-size: 16px;
    color: #0d2c6d;
}
.btn-sms-support-team {
    background-color: #1ba6df;
    font-weight: 600;
    color: #fff;
    border: 0px;
    height: 50px;
}
.image-icon-container, .sms-container {
    padding: 30px;
}
/* End modals modal */
/* Footer section */
.page-footer, .footer-bottom-container, .nav-sections-items, nav.navigation {
    background-color: #0d2c6d;
}
.footer.content {
    border-top: unset;
    color: #fff;
}
.footer-links h3 {
    font-weight: bold;
}
.footer-links a {
    color: #fff;
    font-size: 12px;
}
.footer-links ul li {
    padding: 0px 0px 5px;
}
li.jaybro-email, li.jaybro-phone {
    color: #ffde00!important;
}
.footer-bottom-container {
    border-top: 1px solid #ffde00;
}
.footer-bottom {
    color: #fff;
    margin: 20px 0px 20px 0px;padding: 0px 120px 0px 120px;
    font-size: 12px;
}
.footer-bottom a.disclaimer, .footer-bottom a.privacy {
    color: #0066a1;
}
.copyright-container {
    padding-top: 20px;
}
span.follow-us {
    font-size: 12px!important;
    position:relative;
    top: -10px;
}
.footer-newsletter {
    background-color: #ffde00;
    padding: 40px;
}
.footer-newsletter h2 {
    padding: 0px 0px 10px;
    margin: 0px;
    font-size: 24px;
    color: #0d2c6d;
    font-weight: 700;
    line-height: 44px;
}
.subscribe .form-group {
    display: inline-block;
    width: 40%;
}
.subscribe input {
    height: 45px;
}
button.subscribe {
    width: 45px;
    height: 45px;
    background: url(https://www.jaybro.com.au/pub/media/wysiwyg/slider-Arrow-R.png) center center no-repeat;
    background-size: auto 100%;
    border: 0;
    padding: 0;
    background-color: unset;
    border: unset;
}
/* End footer section */

/* Home page content */
div.image-icon {
    display: inline-block;
}
.categories {
    padding: 20px;
}
.image-item-container {
    padding: 3px;
}
a.category-link {
    position: absolute;
    height: 60px;
    background: #0d2c6d;
    margin-bottom: 0!important;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: 100%;
    padding: 8px 15px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    line-height: 44px;
    font-style: italic;
    text-align: center;
}
.blog-heading {
    padding: 12px 0px 12px 7px;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    position: relative;
    width: 100%;
    background: #0d2c6d;
}
.blog-heading:after {
    position: absolute;
    content: '';
    background: #0d2c6d;
    width: 50px;
    height: 100%;
    top: 0;
    right: -11px;
    transform: skewX(-25deg);
    -webkit-transform: skewX(-25deg);
}
.btn-blog {
    background: #fedd32!important;
    border: 0;
    min-width: 195px;
    height: 46px;
    padding: 0;
    line-height: 46px;
    font-size: 16px;
    font-weight: 600;
    color: #0d2c6d!important;
    border-radius: 0;
    text-decoration: none;
    margin-right: 17px;
}
.btn-blog:hover {
    color: #fff!important;
    background: #1ba6df!important;
    text-decoration: none;
}
h2.why-choose-jaybro {
    margin: 50px 0px 20px;
    padding: 6px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    line-height: 34px;
    background: #0d2c6d;
    position: relative;
    max-width: 50%;
}
h2.why-choose-jaybro:after {
    position: absolute;
    content: '';
    background: #0d2c6d;
    width: 50px;
    height: 100%;
    top: 0;
    right: -11px;
    transform: skewX(-25deg);
    -webkit-transform: skewX(-25deg);
}
h3.why-choose-jaybro-sub {
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    padding: 10px 0px 20px;
    color: #0d2c6d;
}
.BtmTwoBxLetf {
    background: #1ba6df;
    color: #fff;
    padding: 0px;
}
.BtmTwoBxRight {
    background: #0d2c6d;
    color: #fff;
    padding: 0px;
}
.BtmTwoBxLetfContainer, .BtmTwoBxRightContainer {
    padding: 0px 20px 0px 20px;
}
.promo-heading-container {
    padding: 0px 30px 0px 30px;
}
.promoHeading {
    font-size: 44px;
    line-height: 44px;
    font-weight: 700;
}
p.homePromoText {
    font-size: 14px;
    color: #fff;
    padding-bottom: 15px;
}
.homePromoButton a.btn, .jaybroButton.testinomialButton a.btn, .VideoBxBtmRightDec a.btn, .VideoBxTopLeft a.btn {
    background: #fedd32!important;
    border: 0;
    min-width: 195px;
    height: 46px;
    padding: 0;
    line-height: 46px;
    font-size: 16px;
    font-weight: 600;
    color: #0d2c6d!important;
    border-radius: 0;
    text-decoration: none;
}
/* End home page content */

/* Category view */
.breadcrumbs {
    padding-left: 30px!important;
    padding-right: 30px!important;
    margin-left: auto!important;
    margin-right: auto!important;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 0px;
}
.breadcrumbs .items>li.item.home a {
    width: 25px;
    height: 25px;
    display: inline-block;
    background: #fff url(https://www.jaybro.com.au/pub/media/wysiwyg/homeIcon.png) right top 3px no-repeat;
    background-size: 20px 20px;
    text-indent: -50px;
    overflow: hidden;
}
.breadcrumbs .items>li {
    display: inline-block;
    vertical-align: top;
    color: #0d2c6d;
    position: relative;
    color: #0d2c6d;
    padding: 5px 10px;
    display: inline-block;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 12px;
}
.breadcrumbs .items>li strong {
    color: #0d2c6d;
    padding: 0px;
    display: inline-block;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 12px;
}
.breadcrumbs .item:first-child:after {
    content: ''!important;
}
.breadcrumbs .item:not(:last-child):after {
    content: '|';
    height: 13px;
}
.breadcrumbs .item:not(:first-child) {
    padding: 15px 0px;
}
.page-title-wrapper h1#page-title-heading span.base, body.catalog-category-view.page-layout-1column .categoryStaticData h2 {
    font-size: 30px;
    text-transform: capitalize;
    color: #0d2c6d;
    font-weight: 800;
    display: block;
}
.subCategoryheading {
    font-size: 20px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 800;
    display: inline-block;
    position: relative;
    min-width: 50%;
    padding: 12px 50px 12px 20px;
    background: #0d2c6d;
    margin: 0;
}
.subCategoryheading:before {
    position: absolute;
    content: '';
    left: -100%;
    background: #0d2c6d;
    top: 0;
    width: 100%;
    height: 100%;
}
.subCategoryheading:after {
    position: absolute;
    content: '';
    background: #0d2c6d;
    width: 50px;
    height: 100%;
    top: 0;
    right: -20px;
    transform: skewX(-25deg);
    -webkit-transform: skewX(-25deg);
}
.subCategoryViewAll {
    text-align: center;
    margin: 0;
    padding: 15px 0px 0px;
}
.subCategoryViewAll a {
    background: #fedd32!important;
    border: 0;
    min-width: 195px;
    height: 46px;
    padding: 0;
    line-height: 46px;
    font-size: 16px;
    font-weight: 600;
    color: #0d2c6d!important;
    border-radius: 0;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}
.subCategoryProductSlider {
    background: #eaf6fc;
    padding: 25px;
    position: relative;
}
.subCategoryProductSlider:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: #eaf6fc;
    left: -100%;
    top: 0;
}
.subCategoryProductSlider:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: #eaf6fc;
    top: 0;
    left: inherit;
    right: -100%;
}
/* End category view */
/* Cart page and checkout page */
.checkout-index-index header.page-header .header.content, .checkout-cart-index header.page-header .header.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-bottom: 30px;
}
.checkout-cart-index a.logo {
    max-width: 215px;
}
.checkout-cart-index .page-title-wrapper{
    text-align: center;
}
.checkout-cart-index .page-title-wrapper .page-title {
    font-weight: bold;
}
.checkout-cart-index .action.primary {
    background-image: none;
    background: #1979c3;
    border: 1px solid #1979c3;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 600;
    padding: 7px 15px;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;
}
.action.primary:hover, .amquote-addto-button:hover {
    background: #ffde00;
    color: #0d2c6d;
}
.checkout-cart-index .cart.table-wrapper .actions-toolbar {
    text-align: right;
}
.checkout-cart-index .cart.table-wrapper .actions-toolbar > .action, .action-gift {
    background-color: unset;
    border: 0px;
}
.checkout-cart-index .cart.table-wrapper .actions-toolbar > .action, .action-gift:hover {
    box-shadow: unset;
}
a.logo {
    margin: 25px;
}
a.logo img {
    max-width: 85%;
    height: auto;
    padding-bottom: 5%;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border: 0px;
}
.abs-margin-for-forms-desktop, .fieldset .legend, .column:not(.sidebar-main) form .actions-toolbar, .column:not(.sidebar-additional) form .actions-toolbar, .login-container .fieldset:after {
    margin-left: 0px;
}
/* End cart page and checkout page */
/* Contact Us page */
#html-body [data-pb-style=UXAX9NF] {
    margin-bottom: 0px!important;
}
.contact-us-header .pagebuilder-column {
    background: #f1f1f1;
    padding: 25px;
    margin: 0;
    min-height: 190px;
    margin: 0px 10px;
    min-height: 190px;
}
.contact-us-header .phone-icon, .contact-us-header .envelope-icon, .contact-us-header .telegram-icon {
    font-size: 4em;
    color: #0d2c6d;
}
.contact-us-header .heading {
    font-size: 30px;
    font-weight: 600;
    color: #0d2c6d;
    display: block;
    padding: 0;
    margin: 0 0 15px;
}
.contact-us-header .subheading {
    font-weight: 400;
    color: #0d2c6d;
    display: block;
    padding: 0;
    margin: 0;
}
.send-jaybro-a-message-now, .contact-form-subheading {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    display: inline-block;
    position: relative;
    width: 50%;
    padding: 12px 50px 12px 10px;
    background: #0d2c6d;
    margin: 40px 0 0;
}
.send-jaybro-a-message-now::before, .contact-form-subheading:before {
    position: absolute;
    content: '';
    background: #0d2c6d;
    width: 200%;
    height: 100%;
    top: 0;
    left: -200%;
}

.send-jaybro-a-message-now::after, .contact-form-subheading:after {
    position: absolute;
    content: '';
    background: #0d2c6d;
    width: 50px;
    height: 100%;
    top: 0;
    right: -11px;
    transform: skewX(-25deg);
    -webkit-transform: skewX(-25deg);
}
.contact-us-form {
    padding: 10px;
}
form.contact-us-form .form-group {
    margin: 0 0 20px!important;
}
form.contact-us-form input {
    height: 44px!important;
    border: 1px solid #c7c8c8!important;
    outline: none;
    box-shadow: inherit!important;
    background: #fff!important;
    margin-bottom: 20px;
}
form.contact-us-form textarea#comment {
    min-height: 172px;
}
form.contact-us-form button {
    height: 50px;
    min-width: 225px;
    border: 0;
    border-radius: 0;
    background: #0d2c6d;
    color: #fff;
}
.contact-branch-container {
    background-color: #f1f1f1;
}
.contact-branch-container .pagebuilder-column-group {
    border-top: 2px solid #999;
    color: #0d2c6d;
    padding: 20px 0;
    float: left;
    width: 100%;
}
.contact-branch-container .pagebuilder-column-group a {
    color: #888;
}
/* End contact us page */
/* About us page */
.page-heading-container {
    max-height: 200px;
    min-height: 200px;
}
.page-heading-container .row-full-width-inner {
    padding: 80px 0px;
}
.page-heading-container h1 {
    font-family: TitilliumWeb !important;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.1;
    letter-spacing: normal;
    color: #ffd100;
    margin: 0px;
}
.making-life-easier-container, .needSomething_section_row {
    margin: 0 auto;
    width: 88%;
    margin-top: 60px;
    margin-bottom: 86px;
}
.making-life-easier-container .pagebuilder-column {
    padding-right: 50px;
}
.making-life-easier-container a {
    width: 139px;
    height: 48px;
    padding: 14px 24.5px 15px 27.5px;
    background-color: #00205b;
    border: none;
    border-radius: 0px;
    font-family: Roboto !important;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffd100;
}
.making-life-easier-container a:hover {
    background: #489fdf;
    text-decoration: none;
    color: #fff;
}
h2.aboutus-section2-heading {
    font-family: TitilliumWeb !important;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.25;
    letter-spacing: normal;
    color: #00205b;
    margin-bottom: 28px;
    margin-top: 0px;
}
.section2-subheading p {
    font-family: Roboto !important;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #00205b;
    margin-bottom: 28px;
}
.rc-container-desktop {
    background-color: #ffd100;
    padding-top: 55px;
    padding-bottom: 48px;
}
.rc-heading {
    font-family: TitilliumWeb !important;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 29px;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #00205b;
}
.rc-container-desktop .number > p {
    font-family: TitilliumWeb !important;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #00205b;
}
.rc-container-desktop .description > p {
    font-family: Roboto !important;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #1d2226;
}
.rc-container-desktop .pagebuilder-column:not(:first-child) {
    border-right: 1px solid #00205b;
}
.ceo-letter-row {
    background-color:#f6f6f6;
    padding:65px 0 28px 0;
}
h2.ceo-letter-heading {
    font-family: TitilliumWeb !important;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.25;
    letter-spacing: normal;
    color: #00205b;
    margin-bottom: 28px;
    margin-top: 0px;
}
.signature p {
    font-size: 42px;
    display: block;
    height: auto;
    line-height: 2;
    font-family:'La Belle Aurore',cursive!important;
    color: #0d2c6d;
}
.striveToBeOutstanding-container {
    background: linear-gradient(180deg, #00205b 72%, #FFF 72%);
}
.striveToBeOutstanding-main-heading {
    display: block;
    font-family: TitilliumWeb !important;
    font-size: 32px;
    font-weight: normal;
    margin-top: 59px;
    margin-bottom: 58px;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #ffd100;
}
.single-item_container {
    margin: 0 10px 0 0;
    padding: 0 0 26px;
    box-shadow: 0 3px 16px 0 rgb(72 159 223 / 20%);
    background-color: #ffffff;
}
.single-item_container img {
    object-fit: cover;
    width: 100%;
    height: 206px!important;
}
h3.striveToBeOutstanding-heading {
    font-family: TitilliumWeb !important;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.3;
    letter-spacing: normal;
    color: #00205b;
    padding-left: 20px;
}
.striveToBeOutstanding-desc, .whatsInItForYou-desc {
    font-family: Roboto !important;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #1d2226;
    padding-left: 20px;
    padding-right: 20px;
}
.single-item_container a.pagebuilder-button-primary {
    background-color: unset!important;
    font-family: Roboto !important;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #489fdf;
    border: none;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    padding-top: 32px;
}
.jayBroFactSheet-container {
    margin-top: 84px;
}
.jayBroFactSheet-container-inner {
    width: 1000px;
    margin: 0 auto;
    height: 128px;
    padding: 29px 59px 37px 47px;
    background-color: #00205b;
    margin-bottom: 24px;
}
.jayBroFactSheet-heading {
    margin-bottom: 6px;
    font-family: TitilliumWeb !important;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffd100;
}
.jayBroFactSheet-text {
    font-family: Roboto !important;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
}
.jayBroFactSheet-container-inner a:hover {
    background: #489fdf;
    text-decoration: none;
    color: #fff;
}
.jayBroFactSheet-container-inner a {
    width: 170px;
    height: 48px;
    padding: 14px 47px 15px 50px;
    box-shadow: 0 4px 24px 0 rgb(0 0 0 / 15%);
    background-color: #ffd100;
    border: none;
    font-family: Roboto !important;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #00205b;
    margin-top: 10px;
    border-radius: 0px;
}
/* End about us page */
/* Our purpose page */
.needSomethingContent_heading {
    font-family: TitilliumWeb !important;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.25;
    letter-spacing: normal;
    color: #00205b;
    margin-bottom: 28px;
}
.needSomethingContent_subheading {
    font-family: Roboto !important;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #00205b;
    margin-bottom: 28px;
}
.howWeDoIt_section_row {
    background-color: #ffd100;
}
h2.howWeDoIt_heading {
    font-family: TitilliumWeb !important;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #00205b;
    margin-top: 56px;
    margin-bottom: 28px;
}
.howWeDoIt_singleIconContainer {
    text-align: center;
}
.icon-heading {
    font-family: TitilliumWeb !important;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: center;
    color: #00205b;
    margin-bottom: 13px;
}
.icon-desc {
    padding: 0px 20px;
}
.coreCompanyValues_row {
    width: 88%;
    max-width: 1200px;
    margin: 0 auto;
}
.coreCompanyValues_row .coreCompanyValues_col {
    padding: 25px;
    box-shadow: 0 3px 16px 0 rgb(72 159 223 / 20%);
    margin: 5px;
}
.coreCompanyValues_heading {
    font-family: TitilliumWeb !important;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #00205b;
    margin-top: 60px;
    margin-bottom: 50px;
}
/* End our purpose page */
/* Jom page */
h2.capabilitiesBrands_section1_heading {
    font-family: TitilliumWeb !important;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.25;
    letter-spacing: normal;
    color: #00205b;
    margin-top: 0px;
    margin-bottom: 28px;
}
.capabilitiesBrands_section1_subheading {
    font-family: Roboto !important;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #00205b;
    margin-top: 0px;
    margin-bottom: 28px;
    padding-top: 40px;
}
.whatsInItForYou-container {
    padding: 20px 0 0 0;
}
.modernSlavery_row {
    background: #f6f6f6;
    padding-top: 37px;
    padding-bottom: 33px;
    margin: 50px 0px;
}
h3.whatsInItForYou-heading {
    font-family: TitilliumWeb !important;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.3;
    letter-spacing: normal;
    color: #00205b;
    padding-left: 20px;
}
.modernSlavery_contentHeading {
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #00205b;
    margin-bottom: 12px;
}
h2.culture_section2_heading {
    font-family: TitilliumWeb !important;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.25;
    letter-spacing: normal;
    color: #00205b;
    margin-top: 0px;
    margin-bottom: 28px;
}
.culture_section2 p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #1d2226;
    margin-bottom: 28px;
}
/* Jom page */
/* Our culture page */
.whatsInItForYou-container {
    padding-bottom: 84px;
    background: linear-gradient(180deg, #fff 53%, #ffd100 53%);
}
h3.whatsInItForYou-main-heading {
    display: block;
    font-family: TitilliumWeb !important;
    margin-top: 60px;
    margin-bottom: 58px;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #00205b;
}
.whatsInItForYou_desc p {
    font-family: Roboto !important;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #1d2226;
    padding-bottom: 58px;
    max-width: 789px;
    margin-left: auto !important;
    margin-right: auto !important;
}
.single-item_container img {
    width: 100%;
    object-fit: cover;
    height: 211px;
}
.culture_section1 {
    max-width: 1200px;
    width: 88%;
    margin: 0 auto;
    margin-top: 8px;
    padding: 80px 0px;
}
.culture_section2 {
    max-width: 1200px;
    width: 88%;
    margin: 0 auto;
    margin-top: 8px;
    padding-bottom: 80px;
}
.culture_section3 {
    margin-top: 93px;
    background-color: #f6f6f6;
    padding-top: 80px;
    padding-bottom: 76px;
}
.culture_section1 .culture-left-container, .culture_section3 .culture-left-container {
    padding-right: 100px;
}
.culture_section2 .culture-left-container {
    padding-left: 100px;
}
.culture_section1_subheading {
    font-family: Roboto !important;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #00205b;
    margin-top: 0px;
    margin-bottom: 28px;
}
.culture_section2_subheading p {
    font-family: Roboto !important;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #00205b;
    margin-top: 0px;
    margin-bottom: 28px;
}
.culture_section3_heading {
    font-family: TitilliumWeb !important;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.25;
    letter-spacing: normal;
    color: #00205b;
    margin-top: 0px;
    margin-bottom: 28px;
}
.culture_section3_subheading {
    font-family: Roboto !important;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #00205b;
    margin-top: 0px;
    margin-bottom: 28px;
}
.culture_section1 p, .culture_section2 p, .culture_section3 p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #1d2226;
    margin-bottom: 28px;
}
.bottomBannerSection {
    background: linear-gradient(180deg, #f6f6f6 55%, #fff 55%);
    margin-top: -1px;
    margin-bottom: 64px;
}
.bottomBannerSection .row-full-width-inner {
    max-width: 1200px;
    width: 88%;
    margin: 0 auto;
    background-image: url(https://www.jaybro.com.au/pub/media/aboutus/peopleBottomImg.jpg);
    background-repeat: round;
}
.bottomBannerSection .pagebuilder-column-group {
    background-color: rgb(0, 32, 91, 0.8);
}
h6.bottomBannerSection_heading {
    font-family: TitilliumWeb !important;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #ffd100;
    margin-top: 56px;
    margin-bottom: 28px;
}
.bottomBannerSection_btn {
    margin-top: 42px;
    margin-bottom: 68px;
}
.view-jobs a {
    background-color: #ffd100;
    font-family: Roboto !important;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #00205b;
    padding: 15px 50px;
    display: block;
    max-width: 180px;
    margin: 0 auto;
    border: 0px;
}
.view-jobs a:hover {
    background-color: #ffd100;
    border: 0px;
    color: #00205b;
    text-decoration: none;
}
/* End our culture page */
/* Our people page */
.ourPeopleSection_1_desc_p p {
    font-family: TitilliumWeb !important;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: center;
    color: #00205b;
    margin-top: 60px!important;
    margin-bottom: 28px!important;
}
div.rightPeopleSection_row {
    background-color: #f6f6f6;
    padding-bottom: 44px;
    margin-top: 50px;
}
h2.rightPeopleSingle_heading {
    font-family: TitilliumWeb !important;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #00205b;
    margin-top: 60px;
    margin-bottom: 50px;
}
.rightPeopleSingle_container {
    padding: 0px 6px;
    margin-bottom: 50px;
}
h3.rightPeopleSection_name {
    font-family: TitilliumWeb !important;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.3;
    letter-spacing: normal;
    color: #00205b;
    padding-top: 7px;
    padding-left: 16px;
    padding-bottom: 2px;
    margin: 0px!important;
    background: #fff;
}
.rightPeopleSingle_container p {
    font-family: Roboto !important;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #1d2226;
    padding-left: 16px;
    padding-bottom: 8px;
    background: #fff;
    margin-bottom: 0px;
}
.rightPeopleSingle_container:hover {
    top: -13px;
    padding-left: 0px;
    margin-left: 6px;
    width: calc(25% - 12px);
    padding-right: 0px;
    margin-right: 6px;
    box-shadow: 0 12px 24px 0 rgb(0 0 0 / 10%), 0 3px 16px 0 rgb(72 159 223 / 20%);
    cursor: pointer;
    border: 2px solid #ffd100;
}
.rightPeopleSingle_container:hover h3.rightPeopleSection_name, .rightPeopleSingle_container:hover p  {
    background: #ffd100;
}
h6.bottomBannerSection_heading {
    font-family: TitilliumWeb !important;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #ffd100;
    margin-top: 56px;
    margin-bottom: 28px;
}
.bottomBannerSection p {
    max-width: 636px;
    margin: 0 auto;
    font-family: Roboto !important;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
/* End our people page */
/* Nps page */
.capabilitiesBrands_section1 {
    max-width: 1200px;
    width: 88%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 76px;
}
.capabilitiesBrands_section1 p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #1d2226;
    margin-bottom: 15px;
}
.customer-score {
    width: 268px;
    height: 80px;
    margin: 0 0 6px;
    padding: 11px 8px 21px 15px;
    background-color: #d3e8f8;
    display: flex;
    align-items: center;
}
.score-digit {
    font-family: TitilliumWeb !important;
    font-size: 56px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 0.86;
    letter-spacing: normal;
    color: #00205b;
}
.score-text {
    font-family: TitilliumWeb !important;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.25;
    letter-spacing: normal;
    color: #00205b;
    padding-left: 14px;
}
.jayBro_reviews_row {
    background: #f6f6f6;
    text-align: center;
    margin-bottom: 20px;
}
h2.JayBro_Reviews_heading {
    font-family: TitilliumWeb !important;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #00205b;
    margin-top: 60px;
    margin-bottom: 52px;
}
.JayBro_Reviews_iframe {
    margin-bottom: 67px;
}
.jayBro_reviews_row iframe {
    height: 400px!important;
}
h2.howWeDoIt_heading {
    font-family: TitilliumWeb !important;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #00205b;
    margin-top: 56px;
    margin-bottom: 28px;
}
.howWeDoIt_desc p {
    font-family: Roboto !important;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #1d2226;
}
h1.nps_last_section_main_heading {
    font-family: TitilliumWeb !important;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #00205b;
    max-width: 929px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 41px;
}
.howWeDoIt_row_inner {
    margin: 0 auto;
    padding-bottom: 56px;
}
p.icon span {
    font-size: 60px;
    text-align: center;
    color: #00205b;
    margin-bottom: 13px;
}
.nps_last_section_row {
    background: #00205b;
    padding: 70px;
}
.nps_last_section_right-col {
    padding-left: 100px;
}
h2.nps_last_section_inner_heading {
    font-family: TitilliumWeb !important;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffd100;
    margin-top: 0px;
    margin-bottom: 28px;
}
h4.nps_last_section_inner_subheading {
    margin-top: 0px;
    font-family: Roboto !important;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 28px;
}
.nps_last_section_row p {
    font-family: Roboto !important;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 28px;
}
.columns .column.main {
    padding-bottom: 0px;
}
/* End nps page */
/* Capabilities and brands page */
.cp-left-container {
    padding-right: 100px;
}
h2.coreCompanyValues_heading {
    font-family: TitilliumWeb !important;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #00205b;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}
h5.coreCompany_single_subheading {
    padding-left: 20.7px;
    padding-right: 20.7px;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #00205b;
    font-family: TitilliumWeb !important;
    font-style: italic;
}
.coreCompanyValues_row p {
    font-family: Roboto !important;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #1d2226;
    padding-bottom: 40px;
}
.CompanyValues_row .coreCompanyValues_col {
    box-shadow: 0 3px 16px 0 rgb(72 159 223 / 20%);
    margin: 5px 5px 30px 5px;
}
.coreCompanyValues_col p {
    font-family: Roboto !important;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #1d2226;
    padding-bottom: 40px;
    padding-left: 20.7px;
    padding-right: 15px;
}
/* End capabilities and brands page */
/* Sustainability page */
h2.weSourceEthically_heading {
    font-family: TitilliumWeb !important;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #00205b;
    margin-top: 0px;
    margin-bottom: 24px;
}
h4.weSourceEthicallyContent_heading {
    margin-top: 0px;
    font-family: TitilliumWeb !important;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.3;
    letter-spacing: normal;
    color: #00205b;
    margin-bottom: 15px;
}
.weSourceEthically_content_col {
    padding-right: 30px;
}
.weSourceEthicallyContent_html p {
    font-family: Roboto !important;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #1d2226;
}
h4.culture_section2_subheading {
    font-family: Roboto !important;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #00205b;
    margin-top: 0px;
    margin-bottom: 28px;
}
.culture_content_p p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #1d2226;
    margin-bottom: 28px;
}
.culture_section2, .culture_section3 {
    margin: 0 auto;
    margin-top: 80px;
}
.culture-left-container {
    padding-right: 100px;
}
/* End sustainability page */
/* Our history page */
.employees_words_block_col {
    background-color: #0a2043;
    height: 429px;
}
.employees_words_block_col .pagebuilder-column > img {
    width: 100%!important;
    height: auto!important;
}
.howWeDoIt_desc p {
    font-family: Roboto !important;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #1d2226;
}
.history-year span.year {
    font-family: TitilliumWeb !important;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.2;
    letter-spacing: normal;
    color: #ffd100;
}
.history-content-container {
    padding-left: 58px;
}
ul.year-desc-ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    padding-left: 32px;
    margin-top: 12px;
}
ul.year-desc-ul li {
    font-family: Roboto !important;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 15px;
}
.history-content {
    display: flex;
}
/* End our history page */
/* Media query for mobile */
@media only screen and (min-width: 320px) and (max-width: 480px) {

}
/* End media query for mobile */

/* Media query for tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {

}
/* End media query for tablets */

/* Media query for laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

}
/* End media query for laptops */

/* Media query for desktops and large screens */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {

}
/* Media query for desktops and large screens */