/* Orange Collar Media custom css */
.body {
    font-family: Open Sans,"sans-serif";
}
.page-main {
    max-width: unset;
    padding: 0px;
}
p {
    width: 100%;
}
/* Navigation */
.navbar {
    background-color: #473528;
    border-bottom: 2px solid #f57b20;
    border-radius: 0px;
    margin-bottom: 0px;
}
.navbar img.logo {
    width: 300px;
    height: 60px;
    margin-bottom: 0px;
}
ul.navbar-nav li {
    padding: 10px;
    margin-bottom: 0px;
}
ul.navbar-nav li a {
    font-size: 1.2em;
    color: #fff;
}
ul.navbar-nav li a:hover {
    color: #548f4e;
    background-color: unset;
}
ul.navbar-nav .dropdown-menu {
    background: hsla(0,0%,100%,.6);
    cursor: pointer;
    transform: translateY(-10px);
    transition: all .4s ease;
    top: 80px;
    padding: 0px;
}
.navbar ul.navbar-nav li:hover .dropdown-menu {
    display: block;
}
.navbar ul.navbar-nav .dropdown-menu li a {
    color: #303030;
}
.navbar ul.navbar-nav .dropdown-menu li:hover a {
    color: #548f4e;
}
.navbar ul.navbar-nav .dropdown-menu li:hover {
  background-color: #fff;
}
/* End navigation */
/* Header slider */
.main-container {
    z-index: -100;
    background-image: url(https://cdn.sanity.io/images/v32r25bv/production/eb19344f4f369c81f9d80a27ccf3e560d6585b07-1279x621.jpg?w=800&h=388&fit=crop&fm=webp);
    opacity: 1;
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 750px;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease 500ms;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-container .container {
    height: 750px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.main-container .container h1, .main-container .container p {
    color: #fff;
}
/* End header slider */
.bg-brown {
    background-color: #44392e;
}
.bg-orange {
    background-color: #f57b20;
}
.magento-migrate, .shopify-support {
    margin-top:-100px;
    padding: 60px;
    margin-bottom: 80px;
}
.magento-support {
    padding: 60px;
}
.magento-migrate p, .shopify-support p, .magento-support p {
    margin-bottom: 30px;
}
.magento-migrate button, .shopify-support button, .magento-support button {
    border: 0px;
}
.text-white {
    color: #fff;
}
.icon-logo-container {
    width: 22%;
    margin-right: auto;
    margin-left: auto;
}
.border-white {
    --border-opacity: 1;
    border-color: #fff;
    border-color: rgba(255,255,255,var(--border-opacity));
}
.bg-green {
    background-color: #7dc159;
}
.hover\:bg-lightgreen:hover {
    --bg-opacity: 1;
    background-color: #7dc159;
    background-color: rgba(125,193,89,var(--bg-opacity));
    color: #fff;
}
.duration-300 {
    transition-duration: .3s;
}
.ease-in-out {
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.transition {
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
}
.transform {
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
}
.hover\:scale-110:hover {
    --transform-scale-x: 1.1;
    --transform-scale-y: 1.1;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #eee;
    width: 30%;
}
.my-25 {
    margin-top: 100px;
    margin-bottom: 100px;
}
.w-110px {
    width: 110px;
}
.mb-5 {
    margin-bottom: 1.25rem;
}
.mb-6 {
    margin-bottom: 1.5rem;
}
.border-green {
    --border-opacity: 1;
    border: 2px solid #70a84e;
}
.border-white {
    --border-opacity: 1;
    border: 2px solid #fff;
}
.border {
    border-width: 1px;
}
ul.ul-list {
    list-style-type: none;
    font-size: 26px;
}
ul.ul-list li {
    padding-bottom:15px;
    margin-top:15px;
}
ul.ul-list li i {
    font-weight: bold;
}
ul.ul-list li span {
    margin-left: 1rem;
}
.bg-orange-background-image {
    z-index: -100;
    background-image: url(https://cdn.sanity.io/images/v32r25bv/production/784f68f831f44dfdf17e75dd3e3a9a6036511f5a-1200x292.png?w=800&h=195&fit=crop&fm=webp);
    opacity: 1;
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease 500ms;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.lg\:py-28 {
    padding-top: 112px;
    padding-bottom: 112px;
}
.website-design-container {
    padding-top: 30px;
}
.website-design-container button {
    border-radius: 5px;
}
.lg\:my-40 {
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.pb-6 {
    padding-bottom: 1.5rem;
}
.md\:flex-row {
    flex-direction: row;
}
.flex {
    display: flex;
}
.-mb-20 {
    margin-bottom: -5rem;
}
/* Our clients */
.our-clients-icon-container {
    padding-left: 180px;
    padding-right: auto;
}
.text-4xl {
    font-size: 69px;
    line-height: 69px;
}
.text-green {
    color: #70a84e;
}
/* End our clients */
/* Contact form */
div.contact-form {
    border-top: 2px solid#f57b20;
}
form.contact-form input {
    padding:6px 16px;
    min-height:47px;
    border-radius: 5px;
}
form.contact-form button {
    border-radius: 5px;
}
/* End contact form */
/* Footer */
.parallax {
    /* The image used */
    background-image: url("https://cdn.sanity.io/images/v32r25bv/production/396e36fb1bf0b76efe826681b673ae0744a822fd-1279x621.jpg?w=800&h=388&fit=crop");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer ul {
    list-style-type: none;
    padding-left: 0px;
}
.footer ul li a, .footer ul li{
    color: #fff;
    text-decoration: none;
}
.copyright-container p {
    font-size: 1.6rem;
}
.bg-opacity-25 {
    --bg-opacity: 0.25;
}
.bg-white {
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255,255,255,var(--bg-opacity));
}
.social-icons a {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
    margin: 5px;
}
.columns .column.main {
    padding-bottom: 0px;
}
/* End footer */
/* Magento 2 migration page */
.magento-2-migration-header {
    z-index: -100;
    background-image: url(https://cdn.sanity.io/images/v32r25bv/production/ca12c9e544d5000081a6e4ae0d2fa24c1a1e64d4-1279x621.png?w=800&h=388&fit=crop&fm=webp);
    opacity: 1;
    content: '';
    display: block;
    width: 100%;
    height: 750px;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease 500ms;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.magento-2-migration-header .pagebuilder-column-group {
    margin-top: 200px;
}
/* End magento 2 migration page*/
/* The benefits of migrating magento 1 to magento 2 page*/
.the-benefits-of-migrating-magento-1-to-magento-2-header {
    z-index: -100;
    background-image: url(https://cdn.sanity.io/images/v32r25bv/production/7057542d97f149327c1a9e7fd0e1bd4dfe7ac72b-1279x621.png?w=800&h=388&fit=crop&fm=webp);
    opacity: 1;
    content: '';
    display: block;
    width: 100%;
    height: 750px;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease 500ms;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.the-benefits-of-migrating-magento-1-to-magento-2 .pagebuilder-column-group {
    margin-top: 200px;
}
/* End the benefits of migrating magento 1 to magento 2 page */